.DS_Store
dist

# Editor directories and files
.idea
.history
.vscode
.husky
yarn.lock
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# node
node_modules
npm-debug.log
.env
.env.*
!.env.example
!.env.deploy.example

# app
.nginx
*.nginx.conf

dist*/
.hello-docs

# IDE
.idea
.vscode

*.sublime-project
*.sublime-workspace

sftp-config.json
sftp-settings.json


# agentx
agentx-conf.json


async.sh
*.pem
yarn-error.log

.vscode-upload.json
.cache
package-lock.json

*-debug.log
*-error.log

.nyc_output
coverage
packages/*/lib